
.ResourceCardOverlay {
  /* display:none; */
  position: absolute;
  bottom: -21px;
  /* left: 20px; */
  right: 1;
  background-color: rgba(0, 0, 0, 0.5);
  overflow: hidden;
  width: 350px;
  height: 0;
  transition: 1s ease;
  color:white;
  transform: translateY(-20px);

}

.ResourceContainer:hover .ResourceCardOverlay {
  height: 100%;
  border: none;
  color:white;
}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  /* -webkit-transform: translate(-50%, -50%); */
  /* -ms-transform: translate(-50%, -50%); */
  /* transform: translate(-50%, -50%); */
  text-align: center;
  font-family: ‘Nunito’, sans-serif;
  border: 1px solid white;
  padding: 10px;

}

.text:hover{
  color:white;
}

.ResourceCardDesc{
  padding:20px;
  font-size: 12px;
  height: 275px;
  width: 350px;
  box-shadow: 10px 10px 175px rgba(116, 116, 116, 0.5);
  color:black;
  font-weight:bold;
  transform: translateY(-17px);
  border: 1px solid rgba(0,0,0,.1);
  font-family: ‘Nunito’, sans-serif;
  
}
.ResourceCardName:active{
  box-shadow: 10px 10px 175px rgba(116, 116, 116, 0.5);

}

.ResourceCardName {
  padding: 5px;
  font-size: 12px;
  height: 75px;
  width: 350px;
  /* box-shadow: 10px 10px 175px rgba(116, 116, 116, 0.5); */
  color:black;
  font-weight:bold;
  border: 1px solid rgba(0,0,0,.1);
  font-family: ‘Nunito’, sans-serif;
  
}

.ResourceCardImg {
  background-color: white;
  height: 200px;
  width: 350px;

}

.ResourceContainer {
  height: 200px;
  width: 350px;
  display: -webkit-inline-box;
  margin-top :0px ;
  text-align:center;
  margin-bottom: 300px;
  margin-left:20px;
  margin-right: 10px;
  position: relative;
  align-items:center;
  border: 1px solid rgba(0,0,0,.1);

} 

.DescriptionButton{
  border:1px solid grey;
  background: #ffffff;
  background: -webkit-gradient(linear, left top, left bottom, from(#ededed), to(#ffffff));
  background: -webkit-linear-gradient(top, #ededed, #ffffff);
  background: -moz-linear-gradient(top, #ededed, #ffffff);
  background: -ms-linear-gradient(top, #ededed, #ffffff);
  background: -o-linear-gradient(top, #ededed, #ffffff);
  padding: 3.5px 7px;
  -webkit-border-radius: 16px;
  -moz-border-radius: 16px;
  border-radius: 16px;
  /* -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0; */
  /* box-shadow: rgba(0,0,0,1) 0 1px 0; */
  /* text-shadow: rgba(0,0,0,.4) 0 1px 0; */
  color: #000000;
  font-size: 13px;
  font-family: ‘Nunito’, sans-serif;
  text-decoration: none;
  vertical-align: middle;
  margin: 10px;
  margin-bottom:25px;

}

.DescriptionButton:hover{
  transition: .5s ease;
  border-color: #12b881;
  background: #12b881;
  color: black;
}

.DescriptionButton:active{
  border-color: #1b435e;
  background: #1b435e;
}

.ReviewButton{
  border:1px solid grey;
  background: #ffffff;
  background: -webkit-gradient(linear, left top, left bottom, from(#ededed), to(#ffffff));
  background: -webkit-linear-gradient(top, #ededed, #ffffff);
  background: -moz-linear-gradient(top, #ededed, #ffffff);
  background: -ms-linear-gradient(top, #ededed, #ffffff);
  background: -o-linear-gradient(top, #ededed, #ffffff);
  padding: 3.5px 7px;
  /* -webkit-border-radius: 16px;
  -moz-border-radius: 16px;
  border-radius: 16px; */
  /* -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0; */
  /* box-shadow: rgba(0,0,0,1) 0 1px 0; */
  /* text-shadow: rgba(0,0,0,.4) 0 1px 0; */
  color: #000000;
  font-size: 13px;
  font-family: ‘Nunito’, sans-serif;
  text-decoration: none;
  vertical-align: middle;
  margin-top: 10px;
  border-radius:20px;
  
}

.ReviewButton:hover{
  transition: .5s ease;
  border-top-color: #12b881;
  background: #12b881;
  color: black;
}

.ReviewButton:active{
  border-top-color: #1b435e;
  background: #1b435e;
}

button.btn.btn-success{
  margin-top: 10px;
  border-top:1px solid grey;
  background: #ffffff;
  background: -webkit-gradient(linear, left top, left bottom, from(#ededed), to(#ffffff));
  background: -webkit-linear-gradient(top, #ededed, #ffffff);
  background: -moz-linear-gradient(top, #ededed, #ffffff);
  background: -ms-linear-gradient(top, #ededed, #ffffff);
  background: -o-linear-gradient(top, #ededed, #ffffff);
  padding: 3.5px 7px;
  -webkit-border-radius: 16px;
  -moz-border-radius: 16px;
  border-radius: 16px;
  /* -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0; */
  /* box-shadow: rgba(0,0,0,1) 0 1px 0; */
  /* text-shadow: rgba(0,0,0,.4) 0 1px 0; */
  color: #000000;
  font-size: 13px;
  font-family: ‘Nunito’, sans-serif;
  text-decoration: none;
  vertical-align: middle;


}

button.btn.btn-success:hover{

    transition: .5s ease;
    border-top-color: #12b881;
    background: #12b881;
    color: black;

  }
  
  button.btn.btn-success:active{
    border-top-color: #1b435e;
    background: #1b435e;
  }
  

.ReviewArea{
  font-size: 12px;
  height: 50%;
  width: 50%;
  box-shadow: 10px 10px 175px rgba(116, 116, 116, 0.5);
  color:black;
  border: 1px solid rgba(0,0,0,.1);
  top:50%;
  left:50%;
  overflow-wrap:break-word;
  margin-top:100px;
  background-color: white;

}

.ReviewContainer{
  height:100vh;
  width:100vw;

}

